//MORPH
@import "morphing";
//RESET CSS
@import "reset";
//FONT
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive;
// font-family: 'Tourney', cursive;

//MAIN
body {
  background-color: #0c0b0d;
  color: #fff;
}

$dropSpeed: 6s;
$items: 4;

nav {
  z-index: 1;
  position: relative;
  width: 100%;
  // animation: skrew $dropSpeed infinite ease;
  ul {
    transform: rotate3d(0, 1, 0, -45deg) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    // will-change: transform;
    animation: skrew $dropSpeed initial ease-in-out;
    position: absolute;
    top: 8vh;
    right: 5vw;

    li {
      font: bold 45px/2.5 "Tourney";
      letter-spacing: 2px;
      transition: 1s;
      // transform: translateY(-400px) rotateY(20deg);
      // transform-origin: right center;
      opacity: 0;

      &.nav-item {
        opacity: 1;
        // transform: translateY(0px) rotateY(20deg);
      }
      &:hover {
        &.nav-item {
          transform: scale(1.1);
          a {
            background: linear-gradient(to top, #fbf13a 10%, transparent 50%);
          }
        }
      }
    }
  }
}
//VIDEO
figure {
  z-index: -1;
  video {
    width: 100vw;
    height: 75vh;
    opacity: 0.6;
    object-fit: fill;
  }
}
