@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
// "Bangers"

@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive;
// font-family: 'Tourney', cursive;

.section-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  //   background-color: #181818;
  transition: 0.8s;
  top: 200%;

  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818;
    .switchBox {
      position: absolute;
      width: 100%;
      height: 100%;

      input {
        display: none;
      }

      .on,
      .off {
        position: absolute;
        text-align: center;
        text-shadow: inset 1px 1px 1px black;
        width: 100%;
      }

      .on {
        color: #fff;
        top: 10px;
        transition: all 0.1s;
        font-family: sans-serif;
      }

      .off {
        color: #636161;
        bottom: 5px;
        transition: all 0.1s;
        transform: scaleY(0.85);
      }

      .but {
        background-color: #000;
        border-radius: 400px 400px 400px 400px / 400px 400px 300px 300px;
        border-bottom-width: 0px;
        box-shadow: inset 8px 6px 5px -7px rgba(0, 0, 0, 1),
          inset -8px 6px 5px -7px rgba(0, 0, 0, 1),
          inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5),
          0 3px 3px -2px rgba(0, 0, 0, 1),
          inset 0 -230px 60px -200px rgba(255, 255, 255, 0.2),
          inset 0 220px 40px -200px rgba(0, 0, 0, 0.3);
        display: block;
        font-size: 17px;
        height: 60px;
        position: relative;
        transition: all 0.2s;
        width: 40px;
      }

      .back {
        background-color: #000;
        background-image: -webkit-linear-gradient(
            0deg,
            transparent 30%,
            transparent 65%
          ),
          -webkit-linear-gradient(0deg, rgba(245, 245, 245, 0) 30%, rgba(
                  150,
                  150,
                  150,
                  0.1
                )
                50%, rgba(150, 150, 150, 0) 70%);
        border-radius: 115px;
        box-sizing: border-box;
        height: 85px;
        padding: 4px 4px;
        transition: all 0.2s;
        width: 50px;
      }

      input:checked + .back .on,
      input:checked + .back .off {
        text-shadow: inset 1px 1px 1px black;
      }

      input:checked + .back .on {
        color: rgb(141, 141, 141);
        top: 10px;
        transform: scaleY(0.85);
      }

      input:checked + .back .off {
        color: #fff;
        bottom: 5px;
        transform: scaleY(1);
      }

      input:checked + .back .but {
        background: #232323;
        background-image: -webkit-radial-gradient(
          55% 18%,
          circle closest-corner,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0)
        );
        border-radius: 410px 410px 410px 410px / 310px 310px 410px 410px;
        box-shadow: inset 8px -4px 5px -7px rgba(0, 0, 0, 1),
          inset -8px -4px 5px -7px rgba(0, 0, 0, 1),
          0 -3px 8px -4px rgba(250, 250, 250, 0.4),
          inset 0 3px 4px -2px rgba(10, 10, 10, 1),
          inset 0 280px 40px -200px rgba(0, 0, 0, 0.2),
          inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
        margin-top: 20px;
      }

      input:checked + .back {
        background-image: -webkit-linear-gradient(
            90deg,
            black 30%,
            transparent 65%
          ),
          -webkit-linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(
                  250,
                  250,
                  250,
                  0.4
                )
                50%, rgba(150, 150, 150, 0) 100%);
        box-shadow: 28px 28px 28px -28px rgba(0, 0, 0, 0.1),
          -28px 28px 28px -22px rgba(0, 0, 0, 0.1),
          0 30px 30px 0px rgba(0, 0, 0, 0.2),
          inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
        padding: 2px 4px;
      }

      .l,
      .r {
        margin: 0 auto;
        text-align: center;
      }

      .round,
      #onoff,
      .back,
      .but,
      .on,
      .off {
        user-select: none;
      }
      .round {
        position: absolute;
        z-index: 1;
        top: 3%;
        left: 10%;
      }
    }

    .contentsWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: 1s;
      opacity: 0;
      background-color: #181818;
      color: transparent;
      font: bold 5rem/1.5 "Bangers";
      -webkit-text-stroke: 1px yellow;
      letter-spacing: 15px;
      .contents {
        letter-spacing: 2px;
        position: relative;
        height: 75vh;
        width: 100%;
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        -webkit-text-stroke-color: black;
        .card {
          width: 1fr;
          height: 75vh;
          background: linear-gradient(to bottom, #fbf13a 10%, transparent 80%);
          padding: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .cardWrapper {
            background-color: white;
            border-radius: 10px;
            width: 100%;
            height: 85%;
            box-shadow: 0 5px 8px 0 black;
            .card-image {
              width: 100%;
              height: 40%;
              margin-top: 1.5rem;
              padding: 1rem;
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
              &:hover {
                transform: scale(0.99);
              }
            }
            .category {
              text-transform: uppercase;
              font-size: 0.7em;
              font-family: "Tourney";
              font-weight: 500;
              padding-top: 1.5rem;

              &:hover {
                cursor: pointer;
              }
            }

            .heading {
              font-size: 1rem;
              color: #585757;
              padding: 7px;
            }
          }
        }
      }
    }
  }
}
