* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//MAIN
body {
  background-color: #0c0b0d;
  position: relative;
  height: 100vh;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
