//RESET
@import "reset3";

//FONT
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive;
// font-family: 'Tourney', cursive;

//--------------- HEADER ---------------------

header {
  width: 100%;
  height: 100%;
  display: flex;
  font: bold 3rem/1 "Tilt Prism";

  .inner {
    padding: 0 7.5vw;
    z-index: 2;

    .logo {
      position: absolute;
      top: 6vh;
    }

    .menu {
      position: absolute;
      top: 6vh;
      right: 10vw;
      .menu__sub-menu {
        display: flex;
        li {
          margin: 0 20px;
          font-size: 0.7em;
        }
      }
    }
  }
  a {
    &:hover {
      background: linear-gradient(to top, #fbf13a 10%, transparent 50%);
    }
  }
}

// --------------- BUTTON ---------------------
#commonUpButton {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: rgb(8, 53, 53);
  color: white;
  cursor: pointer;
  &:hover {
    & {
      transform: scale(1.05);
    }
    i {
      transform: scale(1.05);
    }
  }
}

// --------------- SECTION VIDEO ---------------------
.video {
  position: absolute;
  top: -132px;
  z-index: 1;
  video {
    display: block;
    background-size: cover;
    width: 100%;
  }
}

// ------------------- SECTION ------------------------

.section-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: 0.8s;
  background-color: #0c0b0d;
  background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  top: 100%;

  .container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .line {
    }
    .line-1,
    .line-2 {
      display: flex;
      // align-items: center;

      .element {
        display: flex;
        align-items: center;
        // background-color: salmon;
        width: 20vw;
        height: 30vh;
        margin: 20px 20px;
        overflow: hidden;

        .content {
          .title {
            font-size: 2em;
            font-weight: bold;
          }
          .text {
            font-size: 1.2em;
            margin-top: 40px;
            line-height: 2;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          // background-color: white;
          border: 4px solid lightgray;
          // border-style: groove;
        }
      }
    }
    .line-1 > .element:first-child {
      display: flex;
      justify-content: center;
      align-items: end;
      // background-color: skyblue;
    }

    .detailPopup {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40vw;
      height: 60vh;
      transform: translate(-50%, -50%);
      // background-color: salmon;
      visibility: hidden;
      opacity: 0;
      transition: 1s;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .bottom-text {
    position: relative;
    white-space: nowrap;
    width: 80%;
    font-size: 2em;
    margin: 50px 100px 0;
    // text-align: right;
    // background-color: salmon;
    // overflow: hidden;
  }
}

.show {
  visibility: visible;
  // opacity: 1;
}

.section-2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: 0.8s;
  background-color: green;
  top: 200%;
}

.section-3 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: 0.8s;
  background-color: skyblue;
  top: 300%;
}

.section-4 {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 3;
  transition: 0.8s;
  background-color: beige;
  top: 400%;
}
