@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"), url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#commonUpButton {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #0c0b0d;
  color: white;
  cursor: pointer;
  z-index: 9999;
}
#commonUpButton:hover {
  transform: scale(1.05);
}
#commonUpButton:hover i {
  transform: scale(1.05);
}

body .gsap-marker-end,
body .gsap-marker-start,
body .gsap-marker-scroller-end,
body .gsap-marker-scroller-start {
  color: transparent !important;
  border-color: transparent !important;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5vh 5vw;
  z-index: 9999;
}
header h1 a {
  font: bold 5.5rem/50px "Bangers";
  color: #fff;
}
header .gnb {
  display: flex;
}
header .gnb li {
  margin: 0 20px;
}
header .gnb li a {
  letter-spacing: 1px;
  color: white;
  font: bold 2.5rem/1 "Bangers";
  text-shadow: -2px 0 #400bee, 0 2px #400bee, 2px 0 #400bee, 0 -2px #400bee;
}
header .gnb li a:hover {
  font-weight: bold;
  color: black;
}

figure {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
figure video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes slideLeftOutRightIn {
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateX(0%) scale(0.75);
    opacity: 1;
  }
  30% {
    transform: translateX(50%) scale(0.75);
    opacity: 0;
  }
  20% {
    transform: translateX(0%) scale(0.75);
    opacity: 0;
  }
  10% {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }
}
#two {
  position: relative;
  width: 100%;
  height: 120vh;
  padding: 50px;
  background-color: #0c0b0d;
  margin-top: 80vh;
}
#two h1 {
  font-size: 34px;
  margin-bottom: 36px;
  color: #fff;
  font-family: "Cafe24Ssurround";
}
#two .drive--cos {
  position: relative;
  width: 100%;
  height: 460px;
  text-align: center;
  font-size: 4.8rem;
  color: #fff;
  margin: 0 auto;
}
#two .drive--cos .image {
  position: absolute;
  width: 45%;
  height: 60vh;
  top: 0;
  left: 0;
  margin-bottom: 50px;
  border-radius: 5%;
}
#two .drive--cos .image1 {
  z-index: 10;
}
#two .drive--cos .image5 {
  z-index: 5;
}
#two .drive--cos .drive {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  padding: 1vh 1vw;
  text-align: left;
}
#two .drive--cos .drive p {
  width: 280px;
  height: 50px;
  color: #fff;
  font: bold 48px/50px "Noto Sans KR", sans-serif;
  margin-bottom: 24px;
}
#two .drive--cos .drive span {
  display: inline-block;
  width: 100%;
  font: normal 24px "Noto Sans KR", sans-serif;
  margin-bottom: 24px;
}
#two .sub-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin: 24px auto 0;
}
#two .sub-btn .btn {
  display: block;
  background-color: #0c0b0d;
  width: 10%;
  height: 100%;
  cursor: pointer;
  opacity: 0.5;
}
#two .sub-btn .btn:first-child {
  opacity: 1;
}
#two .sub-btn .btn::before {
  content: "";
  position: absolute;
  top: 0;
  width: 3%;
  height: 3px;
  background-color: #fff;
}
#two .sub-btn .btn > span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  padding: 5px;
  margin-top: 5px;
}
#two .go {
  position: absolute;
  right: 24vw;
  bottom: 5vh;
  font: 2.4rem arial;
  color: #fbf13a;
}

.detail {
  position: relative;
  height: 500px;
  background-color: #0c0b0d;
  z-index: -99;
}
.detail .detail_item {
  position: absolute;
  width: 310px;
  height: 310px;
  left: 120px;
  top: 120px;
  transform: translateX(100px);
}

#linesvg {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1900px;
  margin-top: 180px;
  background-color: #0c0b0d;
}
#linesvg g {
  position: absolute;
  z-index: 99;
  stroke: #fbf13a;
}

.st0 {
  fill: none;
  stroke: #fbf13a;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.seoul {
  position: relative;
  width: 100%;
  height: 780px;
  z-index: 9999;
  color: #fff;
}
.seoul img {
  position: absolute;
  width: 50vw;
  top: 5%;
  left: 50%;
  transform: translateX(-400px);
}
.seoul .container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  animation: rotate_3922 1s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
.seoul .container:hover {
  width: 500px;
  height: 200px;
}
.seoul .container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
.seoul .container span:nth-of-type(1) {
  filter: blur(5px);
}
.seoul .container span:nth-of-type(2) {
  filter: blur(10px);
}
.seoul .container span:nth-of-type(3) {
  filter: blur(25px);
}
.seoul .container span:nth-of-type(4) {
  filter: blur(50px);
}
.seoul .container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}
@keyframes rotate_3922 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.seoul .container1 {
  top: 65%;
  left: 53%;
}
.seoul .container1::after {
  content: "";
  background-image: url(/video/banpojpg.jpg);
}
.seoul .container2 {
  top: 37%;
  left: 49%;
}
.seoul .container3 {
  top: 53%;
  left: 50%;
}
.seoul .container4 {
  top: 51%;
  left: 54%;
}
.seoul .container5 {
  top: 56%;
  left: 41%;
}
.seoul .container6 {
  top: 61%;
  left: 58%;
}/*# sourceMappingURL=drive.css.map */