//RESET CSS
@import "reset";
//FONT
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive; //Header
// font-family: 'Tourney', cursive;

//  //
body {
  background-color: #000;

  // Header //
  header {
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #000;

    .logo {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Tilt Prism";
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;

      &:hover {
        color: #fff260;
      }

      .slideup {
        display: block;
        position: relative;
        width: 100%;
      }
    }
    .thema {
      position: absolute;
      right: 15%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      font-weight: normal;

      ul {
        display: flex;

        li {
          cursor: pointer;
          color: #fff;

          &:not(:last-child) {
            margin-right: 15px;
          }
          &:hover {
            color: #fff260;
          }
        }
      }
    }
  }
  @keyframes slideLeftOutRightIn {
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    50% {
      transform: translateX(0%) scale(0.75);
      opacity: 1;
    }
    30% {
      transform: translateX(50%) scale(0.75);
      opacity: 0;
    }
    20% {
      transform: translateX(0%) scale(0.75);
      opacity: 0;
    }
    10% {
      transform: translateX(0%) scale(1);
      opacity: 1;
    }
  }

  figure video {
    width: 100%;
    height: 86vh;
  }

  #map {
    position: relative;
    background-color: #f00;
    width: 100%;
    height: 580px;
    text-align: center;

    font-size: 60px;
    color: #fff;
    margin: 0 auto;

    .image {
      position: absolute;
      top: 0;
      width: 1090px;
      height: 100%;
      left: 50%;
      transform: translateX(-545px);
    }
  }
  .sub-btn {
    display: flex;
    justify-content: space-between;
    width: 1090px;
    position: relative;
    margin: 36px auto 0;

    .btn {
      display: block;
      background-color: #000;
      width: 15%;
      height: 100%;
      border: 1px solid #fff;
      cursor: pointer;

      span {
        color: #fff;
        padding: 5px;
      }
    }
  }
}
