.scroller-section {
  //   ?
  #slider3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(
      at 20% 125%,
      #feda78 20%,
      #e23467 60%,
      #ac2bb3 90%
    );

    div {
      padding: 0.5rem;
      border-radius: 15px;
    }
    .imgDescript2 {
      position: relative;
      z-index: -1;
      width: 20%;
      height: 80%;
      background-color: white;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(/video/spot-image/서울스카이.jpg);
      // border: 1px solid white;
      box-shadow: 0 5px 10px 0 black;
      overflow: hidden;
      .imgPlace2 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        padding: 0;
        transition: 1s;

        .profileHead2 {
          width: 100%;
          color: white;
          font: bold 1rem/1 "sans-serif";
          .profileCircleLine2 {
            display: flex;
            z-index: 2;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 25%;
            left: 9%;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            background: radial-gradient(
              at 20% 125%,
              #feda78 20%,
              #e23467 60%,
              #ac2bb3 100%
            );
            .profileCircle2 {
              width: 88%;
              height: 88%;
              border-radius: 50%;
              background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMcZ29NyKyphm5BLll3Dd8MW5_GgAmwEJofQ&usqp=CAU");
              background-size: contain;
              background-position: center;
            }
          }
          .profileFollow2 {
            position: absolute;
            font: normal 0.8em sans-serif;
            letter-spacing: 1px;
            top: 24%;
            left: 42%;
            color: #fff;
            .followBtn2 {
              color: white;
              width: max-content;
              border-radius: 5px;
              padding: 0 3.5rem;
              background-color: #0ba6ff;
            }
          }

          iframe {
            width: 100%;
            height: 55%;
            margin-top: 55%;
          }
        }
      }
      .emogeContainer2 {
        position: absolute;
        top: 75%;
        display: flex;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
      }

      &:hover {
        .imgPlace2 {
          cursor: pointer;
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }

    .imgDescript3 {
      position: relative;
      z-index: -1;
      width: 20%;
      height: 80%;
      background-color: white;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(/video/spot-image/ddp야경.jpeg);
      // border: 1px solid white;
      box-shadow: 0 5px 10px 0 black;
      overflow: hidden;
      .imgPlace3 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        padding: 0;
        transition: 1s;

        .profileHead3 {
          width: 100%;
          color: white;
          font: bold 1rem/1 "sans-serif";
          .profileCircleLine3 {
            display: flex;
            z-index: 2;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 25%;
            left: 9%;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            background: radial-gradient(
              at 20% 125%,
              #feda78 20%,
              #e23467 60%,
              #ac2bb3 100%
            );
            .profileCircle3 {
              width: 88%;
              height: 88%;
              border-radius: 50%;
              background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk7sxTIseipVjijcfd-r_7C_6ZjOst7WWn8A&usqp=CAU");
              background-size: contain;
              background-position: center;
            }
          }
          .profileFollow3 {
            position: absolute;
            font: normal 0.8em sans-serif;
            letter-spacing: 1px;
            top: 24%;
            left: 42%;
            color: #fff;
            .followBtn3 {
              color: white;
              width: max-content;
              border-radius: 5px;
              padding: 0 3.5rem;
              background-color: #0ba6ff;
            }
          }

          iframe {
            width: 100%;
            height: 55%;
            margin-top: 55%;
          }
        }
      }
      .emogeContainer3 {
        position: absolute;
        top: 75%;
        display: flex;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
      }

      &:hover {
        .imgPlace3 {
          cursor: pointer;
          transform: translateY(100%);
          opacity: 0;
        }
      }
    }
  }
}
