//RESET
@import "reset2";

//FONT
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive;
// font-family: 'Tourney', cursive;

//HEADER

header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 0 7.5vw;
  align-items: center;
  font: bold 3em/1 "Tilt Prism";
  border-bottom: 1px solid #fff;
  ul {
    display: flex;
    li {
      margin: 0 1vw;
      font: bold 2rem/1 "Tilt Prism";
    }
  }
  a {
    transition: 1s;
    opacity: 0;

    &:hover {
      background: linear-gradient(to top, #fbf13a 10%, transparent 50%);
    }
  }
}

section {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
  figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font: normal 2rem/1 "Tourney";
    img {
      width: 100%;
      height: 45vh;
      object-fit: fill;
    }
  }

  div {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    transform: translateY(50vh);
    transition: 1s;
    opacity: 0;
    text-align: center;
    font: normal 2rem/1 "Tourney";

    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      img {
        width: 40%;
        height: 40%;
        margin-bottom: 10vh;
        box-shadow: 0 5px 10px 0 white;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

section.emptyground {
  width: 100%;
  height: 75vh;
}

#commonUpButton {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #0c0b0d;
  color: white;
  &:hover {
    cursor: pointer;
    & {
      transform: scale(1.05);
    }
    i {
      transform: scale(1.05);
    }
  }
}
