//RESET
@import "reset2";

//FONT
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
// font-family: 'Gajraj One', cursive;
// font-family: 'Tilt Prism', cursive;
// font-family: 'Tourney', cursive;

//HEADER

header {
  width: 100%;
  height: 20vh;
  display: flex;
  padding: 0 7.5vw;
  align-items: center;
  font: bold 3rem/1 "Tilt Prism";
  border-bottom: 1px solid #fff;
  a {
    &.right-menu {
      position: absolute;
      right: 3vw;
      top: 17vh;
      font-size: 2.5rem;
    }

    &:hover {
      background: linear-gradient(to top, #fbf13a 10%, transparent 50%);
    }
  }
}

figure {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font: normal 2rem/1 "Tourney";
  img {
    width: 100%;
    height: 30vh;
    object-fit: fill;
  }
}

section {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
  div {
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    transform: translateY(50vh);
    opacity: 0;
    // overflow-y: scroll;
    scroll-snap-align: initial;
  }
}

//ANIMATION

// @keyframes scorllUP {
//   0% {
//   }
//   100% {
//   }
// }
