@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Tilt+Prism&family=Tourney:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0b0d;
  color: #fff;
  position: relative;
}

.inner {
  width: 1300px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@font-face {
  font-family: "Druk Wide Web Super";
  src: url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff") format("woff"), url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.svg#Druk Wide Web Super") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "양진체";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 0 7.5vw;
  align-items: center;
}
header ul {
  display: flex;
}
header ul li {
  margin: 1vw;
  font-size: 2rem;
}
header a {
  transition: color 0.2s, background-color 0.2s ease-in;
  opacity: 1;
  position: relative;
  line-height: 2rem;
  letter-spacing: 1px;
  font: bold 2.5rem/1 "Bangers";
  text-shadow: -2px 0 #400bee, 0 2px #400bee, 2px 0 #400bee, 0 -2px #400bee;
}
header a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(255, 255, 0);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.2s, transform 0.25s ease-out;
}
header a:hover::before, header a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
header a:hover {
  background: linear-gradient(to top, #fbf13a 10%, transparent 50%);
}
header #headerLogo {
  font-size: 5.5rem;
}

figure {
  position: relative;
  background-color: #0c0b0d;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
figure video {
  width: 80%;
  height: 500px;
  margin: 150px 0px 147px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
figure .text {
  position: absolute;
  right: 5.5vw;
  top: 25%;
  transform: translateY(-50%);
}
figure .text p {
  font: normal 6vw/1 "Druk Wide Web Super";
  color: rgba(255, 129, 192, 0.892);
  text-shadow: -2px 0 #400bee, 0 2px #400bee, 2px 0 #400bee, 0 -2px #400bee;
}
figure .text:hover {
  transition: 0.5s;
}
figure .text:hover p {
  background: linear-gradient(to top, #473afb 1%, transparent 10%);
  color: transparent;
  -webkit-text-stroke: 2px rgb(234, 181, 232);
}

.mq1,
.mq2 {
  width: 100%;
  overflow: hidden;
  transform: rotateY(15deg) translate(-50px, -30px) rotatez(2deg);
}

.mq1 {
  background-color: rgb(137, 137, 133);
  opacity: 0.5;
  color: #080cf3;
  padding-top: 2px;
}

.mq2 {
  color: #f71818;
}

.palace-kb {
  background-image: url("../../video/palace-image/bg-4.jpg");
  background-position: contain;
}
.palace-kb .inner {
  position: relative;
  height: 600px;
  margin-bottom: 100px;
  margin-top: 30px;
  font-family: "양진체";
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 100px;
}
.palace-kb .container {
  display: flex;
  justify-content: center;
  width: 1200px;
  border: solid 5px rgb(144, 152, 236);
  align-items: center;
  top: 20%;
  margin-left: 85px;
  margin-top: 30px;
  overflow: hidden;
  transform: skew(5deg);
}
.palace-kb .container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 70vmin;
  border: solid 3px rgb(140, 240, 103);
  position: relative;
}
.palace-kb .container .card .card__head {
  color: rgb(245, 245, 4);
  background: rgb(171, 132, 158);
  opacity: 0.8;
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
}
.palace-kb .container .card:hover {
  flex-grow: 10;
}
.palace-kb .container .card:hover img {
  filter: grayscale(0);
}
.palace-kb .container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.palace-kb .container .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.palace-kb .container .card:not(:nth-child(5)) {
  margin-right: 1em;
}

.palace-ds {
  height: 600px;
  background-image: url("../../video/palace-image/bg2.jpg");
  background-position: contain;
}
.palace-ds .inner {
  position: relative;
  width: 1300px;
  height: 600px;
  left: 80px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.palace-ds .slider-container {
  position: absolute;
  overflow: hidden;
  width: 1100px;
  height: 70vh;
  margin-top: 40px;
  left: 10px;
  border: solid 5px #84ff9b;
}
.palace-ds .slider-container .left-slide {
  height: 70vh;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.7s ease-in-out;
}
.palace-ds .slider-container .left-slide div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.palace-ds .slider-container .left-slide div h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
  color: rgb(100, 255, 118);
  text-shadow: -2px 0 #400bee, 0 2px #400bee, 2px 0 #400bee, 0 -2px #400bee;
}
.palace-ds .slider-container .left-slide div p {
  width: 250px;
  height: 50px;
  padding-top: 20px;
  font-family: "양진체";
  text-align: center;
}
.palace-ds .slider-container .right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.7s ease-in-out;
}
.palace-ds .slider-container .right-slide div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
.palace-ds .slider-container .action-buttons {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
}
.palace-ds .slider-container .action-buttons:hover {
  color: #222;
}
.palace-ds .slider-container .action-buttons:hover {
  color: #222;
}
.palace-ds .slider-container .down-button,
.palace-ds .slider-container .up-button {
  padding: 15px;
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.palace-ds .slider-container:hover {
  color: #222;
}
.palace-ds .slider-container:focus {
  outline: none;
}
.palace-ds .slider-container .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.palace-ds .slider-container .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.palace-cdk {
  background-image: url("../../video/palace-image/bg5.jpg");
  background-position: contain;
  height: 700px;
}
.palace-cdk .inner {
  position: relative;
  height: 680px;
  margin-top: 100px;
  margin-left: 100px;
}
.palace-cdk .inner .container {
  position: relative;
  width: 1000px;
  height: 680px;
  top: 20px;
  left: 200px;
  border: dashed 5px #e4e081;
  overflow: hidden;
  /* Container for image text */
}
.palace-cdk .inner .container .mySlides {
  display: none;
  padding-bottom: 6px;
  height: 550px;
  overflow: hidden;
}
.palace-cdk .inner .container .prev,
.palace-cdk .inner .container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.palace-cdk .inner .container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.palace-cdk .inner .container .prev:hover,
.palace-cdk .inner .container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.palace-cdk .inner .container .caption-container {
  position: relative;
  text-align: center;
  background-color: #b76bb2;
  padding: 4px 16px;
  font-family: "양진체";
  color: white;
}
.palace-cdk .inner .container .row {
  position: relative;
  height: 100px;
}
.palace-cdk .inner .container .row:after {
  content: "";
  display: table;
  clear: both;
}
.palace-cdk .inner .container .column {
  float: left;
  width: 16.66%;
}
.palace-cdk .inner .container .demo-cursor {
  opacity: 0.4;
}
.palace-cdk .inner .container .active,
.palace-cdk .inner .container .demo-cursor:hover {
  opacity: 1;
}

#commonUpButton {
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #0c0b0d;
  color: white;
}
#commonUpButton:hover {
  transform: scale(1.05);
}
#commonUpButton:hover i {
  transform: scale(1.05);
}/*# sourceMappingURL=palace.css.map */